<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>졸업요건 자가진단</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h2>졸업요건 자가진단</h2>
    <table class="course-table">
        <thead>
        <tr>
            <th>구분</th>
            <th>결과</th>
            <th>취득</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>졸업학점 이수여부</td>
            <td th:text="${graduationStatus.isGraduationEligible ? '이수 완료' : '미이수'}"></td>
            <td th:text="${graduationStatus.isGraduationEligible ? '완료' : '미완료'}"></td>
        </tr>
        <tr>
            <td>졸업논문(시험/작품) 제출 여부</td>
            <td th:text="${graduationStatus.isGraduationThesisStatus ? '제출 완료' : '미제출'}"></td>
            <td th:text="${graduationStatus.isGraduationThesisStatus ? '완료' : '미완료'}"></td>
        </tr>
        <tr>
            <td>인권과 성평등 교육 이수 여부</td>
            <td th:text="${graduationStatus.isHumanRightsEducationCompleted ? '이수 완료' : '미이수'}"></td>
            <td th:text="${graduationStatus.isHumanRightsEducationCompleted ? '완료' : '미완료'}"></td>
        </tr>
        <tr>
            <td>졸업인증제 자격 요건 취득 여부</td>
            <td th:text="${graduationStatus.isGraduationCertificationRequirements ? '자격 취득' : '미취득'}"></td>
            <td th:text="${graduationStatus.isGraduationCertificationRequirements ? '취득' : '미취득'}"></td>
        </tr>
        </tbody>
    </table>

    <h3>추가 요건 업데이트</h3>
    <form th:action="@{/api/graduation/{memberName}/graduationCheckUpdate(memberName=${memberName})}" method="post">
        <table class="course-table">
            <thead>
            <tr>
                <th>구분</th>
                <th>제출/이수 여부</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>졸업논문(시험/작품)</td>
                <td>
                    <input type="checkbox" th:name="graduationThesisStatus" th:value="true" th:checked="${graduationStatus.graduationThesisStatus}">
                </td>
            </tr>
            <tr>
                <td>인권과 성평등 교육</td>
                <td>
                    <input type="checkbox" th:name="humanRightsEducationCompleted" th:value="true" th:checked="${graduationStatus.humanRightsEducationCompleted}">
                </td>
            </tr>
            <tr>
                <td>졸업인증제자격요건</td>
                <td>
                    <input type="checkbox" th:name="graduationCertificationRequirements" th:value="true" th:checked="${graduationStatus.graduationCertificationRequirements}">
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn-submit">업데이트</button>
    </form>
</div>
</body>
</html>
